.container {
	padding: 2rem;
	height: 78vh;
	width: 100%;
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  h4{
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.5rem;
    border: 3px solid;
  }
	p {
    width: 60%;
    line-height: 2;
		font-size: 1.5rem;
		font-weight: 600;
	}
}
